@page
@{
    Layout = "_LayoutProveedor";
}

<div class="content">
    <!-- Encabezado -->
    <div class="header">
        <h1>Agregar documento</h1>
        <div class="buttons">
            <button class="btn-add">Agregar</button>
            <button class="btn-cancel">Cancelar</button>
        </div>
    </div>

    <!-- Formulario -->
    <form class="form">

        <div class="form-group">
            <label for="proveedor">Nombre del documento:</label>
            <select id="proveedor" class="selectProveedor" name="proveedor">
                <option disabled selected>Selecciona el nombre del documento</option>
                <option>Contrato, anexos o adendum</option>
                <option>Aviso de registro al REPSE</option>
                <option>Nóminas timbradas de los trabajadores</option>
                <option>Acuse de recibo ISR retenido por salarios</option>
                <option>Declaración provisional ISR</option>
                <option>Declaración provisional ISR</option>
                <option>Comprobante de pago ISR</option>
                <option>Acuse declaración del IVA</option>
                <option>Declaración provisional IVA</option>
                <option>Comprobante de pago</option>
                <option>SIPARE</option>
                <option>Emisión mensual anticipada (EMA)</option>
                <option>SUA IMSS</option>
                <option>Resumen de liquidación</option>
                <option>Comprobante de pago IMSS</option>
                <option>Emisión bimestral anticipada (EBA)</option>
            </select>
            <span class="required">*</span>
        </div>

        <div class="form-group">
            <label for="registro-repse">Documento:</label>
            <div class="input-container-file">
                <input type="file" id="registro-repse" name="registro-repse">
                <i class="fas fa-folder-open icon-insert"></i>
            </div>
            <span class="required">*</span>
        </div>

    </form>
</div>