@page
@model Gutierrez.Pages.Proveedor.IndexModel
@{
}

<!-- Tabla -->
<div class="content">
    <table class="data-table">
        <thead>
            <tr>
                <td>18273y273</td>
                <td><a href="detalleproveedor.html" class="link">Nombre del proveedor</a></td>
                <td><span class="repse-indicator-green"></span></td>
                <td>25/09/2024</td>
            </tr>
            <tr>
                <td>18273y273</td>
                <td><a href="detalleproveedor.html" class="link">Nombre del proveedor</a></td>
                <td><span class="repse-indicator-yellow"></span></td>
                <td>25/09/2024</td>
            </tr>
            <tr>
                <td>18273y273</td>
                <td><a href="detalleproveedor.html" class="link">Nombre del proveedor</a></td>
                <td><span class="repse-indicator-orange"></span></td>
                <td>25/09/2024</td>
            </tr>
            <tr>
                <td>18273y273</td>
                <td><a href="detalleproveedor.html" class="link">Nombre del proveedor</a></td>
                <td><span class="repse-indicator-red"></span></td>
                <td>25/09/2024</td>
            </tr>
            </tbody>
    </table>
</div>
