@page
@{
    Layout = "_LayoutProveedor";
}

<!-- Tabla -->
<div class="content">
    <table class="data-table">
        <thead>
            <tr>
                <th>RFC</th>
                <th>Proveedor</th>
                <th>Estatus</th>
                <th>Fecha ultima modificacion</th>
            </tr>
        </thead>

            <tr>
                <td>18273273</td>
            <td><a id="detalleproveedor" class="link">Karime Ramos</a></td>
                <td><span class="repse-indicator-green"></span></td>
                <td>25/10/2024</td>
            </tr>
            <tr>
                <td>97274610</td>
            <td><a id="detalleproveedor" class="link">Pedro Avila</a></td>
                <td><span class="repse-indicator-yellow"></span></td>
                <td>27/11/2024</td>
            </tr>
            <tr>
                <td>01549273</td>
            <td><a id="detalleproveedor" class="link">Angel Pineda</a></td>
                <td><span class="repse-indicator-orange"></span></td>
                <td>5/09/2024</td>
            </tr>
            <tr>
                <td>22705437</td>
            <td><a id="detalleproveedor" class="link">Daniel Rodriguez</a></td>
                <td><span class="repse-indicator-red"></span></td>
                <td>03/12/2024</td>
            </tr>
    </table>
</div>
<script>
    let DetalleProveedor = document.getElementById("detalleproveedor").addEventListener("click", function () {
          window.location.replace("/Proveedor/DetalleProveedor");
      });
</script>
