@page

@{
    Layout = "_LayoutAdmin";
}

<div class="content">
    <table class="data-table">
        <thead>
            <tr>
                <th>RFC</th>
                <th>Proveedor</th>
                <th>Estatus</th>
                <th>Fecha ultima modificacion</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>18273y273</td>
                <td><a id="DetalleProveedor" class="link">Nombre del proveedor</a></td>
                <td><span class="repse-indicator-green"></span></td>
                <td>25/09/2024</td>
            </tr>
        </tbody>
    </table>
</div>
<script src="~/js/proveedores.js"></script>
