@page

@{
    Layout = "_LayoutAdmin";
}

<div class="filter-section">
    <div class="filter-group">
        <p>Nombre:</p>
        <input type="text" placeholder="Nombre del proveedor">
    </div>
    <div class="filter-group">
        <p>RFC:</p>
        <input type="text" placeholder="RFC del proveedor">
    </div>
</div>
<div class="content-p">
    <table class="data-table-p">
        <thead>
            <tr>
                <th>RFC</th>
                <th>Proveedor</th>
                <th>REPSE</th>
                <th>Estatus</th>
            </tr>
        </thead>
        <tbody>
            <template>
                <tr>
                    <td>18273y273</td>
                    <td>Nombre del proveedor</td>
                    <td>
                        <input type="radio" name="status_1" id="status_1_1" value="1" onclick="toggleStatus(1, 1)" />
                        <input type="radio" name="status_1" id="status_1_0" value="0" onclick="toggleStatus(0, 1)" />
                        <label class="status-label" for="status_1_1">✘</label>
                    </td>
                    <td>
                        <button class="accept-button">Aceptar</button>
                        <button class="reject-button">Rechazar</button>
                    </td>
                </tr>
            </template>
           
        </tbody>
    </table>
</div>

<script>
    async function toggleStatus(value, row) {
        var label = document.querySelector('.status-label[for="status_' + row + '_1"]');
        if (value === 1) {
            label.textContent = "✔";  // Mostrar paloma si el valor es 1
            label.style.color = "#4CAF50";  // Color de fondo verde
        } else {
            label.textContent = "✘";  // Mostrar X si el valor es 0
            label.style.color = "#f44336";  // Color de fondo rojo
        }
    }
</script>
<script src="~/js/Documento.js"/>
