@page

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login REPSE</title>
    <link rel="stylesheet" href="~/css/EstilosLogin.css">
</head>
<body>
    <div class="login-container">
        <div class="left-panel">
            <img src="~/images/LogoGutierrez.png" alt="Logo Institucional" class="logo">
        </div>
        <div class="right-panel">
            <form class="login-form">
                <div class="user-icon"><img src="~/images/IconLogin.png"></div>
                <h2 class="welcome-text">Bienvenido</h2>

                <div class="input-group">
                    <img src="~/images/usuario.png" alt="Usuario" class="icon-img">
                    <input type="text" id="username" name="username" placeholder="Usuario" required>
                </div>
                <div class="input-group">
                    <img src="~/images/lock.png" alt="Contraseña" class="icon-img">
                    <input type="password" id="password" name="password" placeholder="Contraseña" required>
                </div>

                <div class="options-row">
                    <a href="#" class="change-password">Cambiar contraseña</a>
                    <a href="#" class="new-account">Crear nueva cuenta</a>
                </div>
                <a href="#" class="forgot-password">¿Olvidaste tu contraseña?</a>
                <div class="login-button" onclick="login()">Iniciar Sesión</div>
            </form>
        </div>
    </div>
    <script src="~/js/Variables.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jwt-decode/build/jwt-decode.min.js"></script>
    <script>
        async function login() {
            // Obtener valores de los inputs
            let correo = document.querySelector('#username').value;
            let contrasena = document.querySelector('#password').value;
            // Validación sencilla de campos vacíos
            // if (!correo.trim() || !contrasena.trim()) {
            //     let lblerror = document.getElementById('error');
            //     lblerror.innerText = "Correo o Contraseña Incorrectos.";
            //     return;
            // }
            try {
                let bodyrequest =
                {
                    "correo": correo,
                    "contraseña": contrasena
                }
                console.log(ApiUrlRelease);
                let response = await fetch(ApiUrlRelease + 'api/Login',
                    {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',

                        },
                        body: JSON.stringify(bodyrequest)

                    }
                ).catch(err => 
                {
                    let lblerror = document.getElementById('error');
                    lblerror.innerText = err;
                });

                // if (!response.ok) {
                //     let lblerror = document.getElementById('error');
                //     lblerror.innerText = "Correo o Contraseña incorrectas.";
                // }
                if (response.ok) {
                    let token = await response.text();
                    // Guardar el token
                    localStorage.setItem('jwtToken', token);
                    // Decodificar el token para obtener el rol del usuario
                    let decodedToken = jwt_decode(token);
                    console.log(decodedToken)
                    // Verificar cómo se codifica el rol en el JWT
                    let rol = decodedToken.role;
                    console.log(rol);
                    // Redirigir a diferentes vistas según el rol del usuario
                    if (rol === 'Administrador') {
                        window.location.href = '/Admin';
                    }
                    else if (rol === 'Proveedor') {
                        // Guardar el nombre del guía en el almacenamiento local si es necesario
                        //window.location.href = '/Proveedor';
                    }
                    else {
                        alert('se ah intentado acceder sin las credenciales incorrectas.')
                    }
                }
            }
            catch (err) {
                console.log(err);
            }
        };
    </script>
</body>
</html>


