@page

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login REPSE</title>
    <link rel="stylesheet" href="~/css/EstilosLogin.css">
</head>
<body>
    <div class="login-container">
        <div class="left-panel">
            <img src="~/images/gutierrezLOGO.png" alt="Logo Institucional" class="logo">
        </div>

        <div class="right-panel">
            <form class="login-form">
                <div class="user-icon"><img src="~/images/IconLogin.png"></div>
                <h2 class="welcome-text">Bienvenido</h2>

                <div class="input-group">
                    <img src="~/images/usuario.png" alt="Usuario" class="icon-img">
                    <input type="text" id="username" name="username" placeholder="Usuario" required>
                </div>
                <div class="input-group">
                    <img src="~/images/lock.png" alt="Contraseña" class="icon-img">
                    <input type="password" id="password" name="password" placeholder="Contraseña" required>
                </div>

                <div class="options-row">
                    <a href="#" class="change-password">Cambiar contraseña</a>
                    <a href="#" class="new-account">Crear nueva cuenta</a>
                </div>
                <button type="submit" class="login-button">Iniciar Sesion</button>
                <a href="#" class="forgot-password">¿Olvidaste tu contraseña?</a>
            </form>
        </div>
    </div>
</body>
</html>


